* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  background: #F1FAEE;
  color: #1D3557;

  
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  width: 80%;
  margin: auto;
  padding-bottom: 3rem;

  
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.15;
  margin: 3rem 0;
}

h2 {
  color: #588157;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  margin: 3rem 0;
}
h3 {
  color: #5D4037;
  margin:1rem 0;
}
p1 {
  font-weight: bold;
  color: #1D3557; /* Total resaltado en dorado suave */
  margin-top: 15px;
  background-color: #28b903;
}
  

.btn {
  border: none;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 1.6rem;
  border-radius: 1rem;
}
.btn-eliminar-carrito {
  background-color:  #04c52e;
  border: 2px solid #038a03;
}
.btn-vaciar-carrito {
  background-color: #FFB74D;
  color: #1d1a20;
}
.btn-vaciar-carrito:hover {
  background-color: #FFA726;
}

header
 {
  background:  #b22222;
  color: #fff7fb;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
    height: 80px; 
    width: auto;  
    display: block; 
}

.div-logo {
  margin-left: 2rem;
  font-weight: bold;
}

.logo,
.header-nav ul li a {
  text-decoration: none;
  font-size: 2.5rem;
  color: inherit;
  display: inline-block;
  padding: 1rem;
}
.header-nav {
  margin-right: 2rem
}
.header-nav ul,
footer .footer-list {
  list-style: none;

 
  display: flex;
  gap: 1.5rem;
}

.footer-list li {
  padding: 0.5rem;
}

.footer-list img {
  width: 4rem;
  padding: 0.5rem;
}

/* -------------------------------------------------------------------------- */
/*                                   COLORES                                  */
/* -------------------------------------------------------------------------- */

.bg-secondary {
  background-color: #E63946;;
}

.text-light {
  color: #ffffff;
}

.text-dark {
  color: #2a1e35;
}

.text-secondary {
  color: #588157;
}

/* -------------------------------------------------------------------------- */
/*                                    HOME                                    */
/* -------------------------------------------------------------------------- */

.parrafo, .subtitulo-contacto {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  padding: 3rem ;
}
.subtitulo-contacto {
   width: 100%;
  text-align: left;
  font-size: 2rem;
  padding: 3rem ;
}
.contenedor-tarjetas {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.card {
  background-color: #B7E4C7;
  color: #2a1e35;
  width: 30rem;
  text-align: center;
  border-radius: 1rem;
  overflow: hidden;
  padding: 20px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  padding-bottom: 2rem;
}

.card img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-radius: 8px;
 } 


.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

/* -------------------------------------------------------------------------- */
/*                                  CONTACTO                                  */
/* -------------------------------------------------------------------------- */
.titulo-contacto {
  margin: 2rem 0;
}

.form-contacto {
  background-color: #B7E4C7;
  color: #2a1e35;
  width: 100%;
  max-width: 50rem;
  font-size: 1.6rem;
  padding: 3rem;
  border-radius: 1rem;

  
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.grupo-input{
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 2rem;
}
 .info-contacto {
    margin-top: 3rem;
    color: #1D3557;
    line-height: 1.5;
  }

  .mapa iframe {
    width: 100%;
    height: 250px;
    border: none;
    margin-top: 3rem;
  }
/* -------------------------------------------------------------------------- */
/*                                PIÉ DE PÁGINA                              */
/* -------------------------------------------------------------------------- */
footer {
    background-color: #b22222; 
    color: #fff7fb;
    padding-top: 40px;
    width: 100%;  
}

.footer-container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    padding: 0 20px 40px 20px;  
}

.footer-column {
    flex: 1;
    min-width: 250px; 
    margin-bottom: 20px;
}

.footer-column h3, .footer-column h4 {
    color: #2a1e35; 
    margin-bottom: 15px;
    font-size: 2rem
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: #F1FAEE;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-column ul li a:hover {
    color: #A3B18A; 
}

.footer-bar {
    text-align: center;
    background-color: #740303; 
    padding: 20px 0;
    font-size: 1rem;
}
/* -------------------------------------------------------------------------- */
/*                               Carrito                              */
/* -------------------------------------------------------------------------- */
.mensaje-carrito-vacio {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 2rem;
}
.acciones-carrito {
  margin-top: 2rem;
}

/* -------------------------------------------------------------------------- */
/*                                MEDIA QUERIES                               */
/* -------------------------------------------------------------------------- */
@media (max-width: 600px) {
  header,
  footer {
      flex-direction: column;
    
  }
  
  .header-nav, .div-logo {
    margin: 0;
  }
  
}